$disable-bourbon-deprecation-warnings: true
@import bourbon
@import _vars.sass

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.objects
	background-color: #FFF
	padding: 50px
.but-center
	width: 100%
	text-align: center
	margin-top: 20px
.item-obj
	position: relative
	margin-top: 32px
	transform: translate(0px, 0px)
	transition: .25s linear
	overflow: hidden
	&:hover
		box-shadow:	3px 3px 0 #eee
		transform: translate(-3px, -3px)
		transition: .25s linear
	.ico-obj
		position: absolute
		top: 0px
		right: 0px
		height: 72px
		.ico-obj-img
			float: left
			img
				height: 36px
		.ico-obj-descr
			float: left
			display: block
			vertical-align: middle
			text-align: center
			background: linear-gradient(to right, $blue, $darkblue)
			height: 36px
			// width: 330px
			color: $green
			font-size: em(22px)
			display: none
			span
				display: inline-block
				// background-color: $blue
				margin: 0 auto
				padding: 0 80px
				// line-height: em(10px)
				font-size: em(10px)
				font-family: "OpenSansLight", sans-serif
				text-transform: uppercase
	.thumb-obj
		width: 100%			
	.descr-obj
		display: block
		position: absolute
		bottom: 0
		width: 100%
		text-align: center
		background-color: rgba(25, 52, 65, .9)
		&:hover
			background-color: $darkblue		
		h3
			color: $greenwhite
			font-size: em(26px)
			line-height: em(10px)
			padding: 20px 0 30px
			margin: 0
			font-family: "OpenSansLight", sans-serif				
		h4
			margin: 0
			padding-bottom: 15px
			margin-bottom: 0
			color: $green
			font-size: em(18px)
			font-family: "OpenSansLight", sans-serif
			line-height: em(10px)
		.descr-obj-wrapper
			display: none
		p
			color: $greenwhite
			font-size: em(16px)
			text-align: left
			padding-left: 20%
			margin-top: 0
			font-family: "OpenSansLight", sans-serif			
	.button
		outline: none !important
		background-color: $greenwhite
		color: $blue
		margin: 0
		// position: absolute
		// bottom: 0
		// left: 0
		width: 100%
		transition: all .25s ease
		border: 0
		cursor: pointer
		&:hover, &:focus
			text-decoration: underline
		&:active
			transform: translateY(2px)
.obj-but
	outline: none !important
	background-color: $blue
	color: $greenwhite
	position: relative
	transition: all .25s ease
	cursor: pointer
	&:hover, &:focus
		background-color: $darkblue
		color: $greenwhite
		text-decoration: none		
	&:active
		background-color: $darkblue
		transform: translateY(2px)

.news
	padding: 50px 0
	background: url("img/bg_news.jpg") no-repeat
	background-size: cover
	// background-position: bottom top
	background-position: top
	background-repeat: fixed	
	h2
		color: $greenwhite
	.news-date
		position: absolute
		top: 0px
		left: 0px
		color: $greenwhite
		background-color: $blue
		margin: -15px 0 0 -15px
		padding: 24px 10px
		font-size: em(14px)
		line-height: em(0px)
		font-family: "OpenSansBold", sans-serif
		z-index: 10
		box-shadow:	3px 3px 0 $greenwhite
	.news-item
		width: 100%		
		position: relative
		margin: 30px 0
		.news-item-container
			background-color: $green
			overflow: hidden
			z-index: 20
			img
				float: left
				width: 30%
				border: 3px solid $greenwhite
			.news-precontent			
				float: right
				width: 70%
				h3
					color: $darkblue
					font-size: em(16px)
					line-height: em(10px)
					font-family: "OpenSansBold", sans-serif
					padding: 10px
					margin: 0
				p
					color: $blue
					font-size: em(14px)
					text-align: justify
					font-family: "OpenSansLight", sans-serif
					padding: 0 10px
					margin: 0
	.button
		outline: none !important
		background-color: $greenwhite
		color: $darkgreen
		margin: 0
		transition: all .25s ease
		border: 0
		cursor: pointer
		&:hover, &:focus
			background-color: $darkgreen
			color: $greenwhite
		&:active
			transform: translateY(2px)
.google-map
	color: #fff
// .maphead
// 	position: absolute
// 	// top: 60px
// 	// left: 100px
// 	z-index: 1000
// 	h2
// 		margin-top: 80px
// 		color: $darkblue
// 		padding: 0
#map
	height: 500px
	// position: absolute
	// z-index: 999
	// top: 0
	// left: 0
	width: 100%

.contacts
	// height: 500px
	background-color: $blue
	background-image: url("img/logo_back.png")
	background-repeat: no-repeat
	// background-size: cover
	// background-position: bottom top
	background-position: center
	padding-bottom: 80px
	h2
		color: $greenwhite
		font-family: "OpenSansLight", sans-serif
		margin-top: 80px
	p
		text-align: justify
		font-size: em(14px)
	ul
		margin: 0
		padding: 0
		list-style: none
		font-family: "OpenSansLight", sans-serif
		>li
			list-style-type: none			
			color: $green
			text-transform: uppercase
			a
				color: $green
				text-transform: uppercase	
				// &:hover
				// 	text-decoration: none /* Убираем подчеркивание */
    // 				border-bottom: 1px dashed $greenwhite /* Добавляем свою линию */
			>ol
				list-style-type: none
				padding-left: 7px
				color: $darkblue
				text-transform: none
				margin-bottom: 7px
				i
					color: $darkgreen
				a
					color: $darkblue
					text-transform: lowercase
				// :before
				//     content: "-"
				//     position: relative
				//     left: -5px

.pages		
.company
	.item-priv-company
		width: 100%
		height: 200px
		padding: 20px	
		h3
			color: $blue
		p
			color: $darkgreen		
		img
			border-bottom: 5px solid $yellow
			height: 150px
			width: 150px
		.img-priv-company-l
			float: left
		.txt-priv-company-r
			padding-left: 180px
		.img-priv-company-r
			float: right
		.txt-priv-company-l
			padding-right: 180px
			h3, p
				text-align: right
	.item-priv-company:nth-child(even)
		border-right: 5px solid $green
		border-top: 5px solid $green
	.item-priv-company:nth-child(odd)
		border-left: 5px solid $green
		border-top: 5px solid $green
	.item-priv-company:nth-last-child(1)
		border-bottom: 5px solid $green
		margin-bottom: 50px
	h4			
		margin-bottom: 0
		font-family: "OpenSansRegular", sans-serif
		text-transform: uppercase
		text-align: center
		padding: 15px 0
		display: block
		width: 100%
		background-color: $darkblue
		color: $greenwhite
		border-bottom: 5px solid $yellow
	.departments
		margin-top: 25px		
		.item-dep
			height: 150px
			width: 100%
			background-size: cover
			background-position: center center
			position: relative
			border-bottom: 3px solid $yellow
			filter: grayscale(70%)
			transition: .3s
			&:hover
				filter: grayscale(0%)
			.info-dep
				position: absolute
				bottom: 0
				width: 100%
				background-color: rgba(0, 0, 0, .5)				
				span					
					display: block					
					padding: 10px 0
					margin: 0
					text-align: center
					color: $greenwhite
	.rewards
		margin-top: 40px
		img
			display: block
			float: left		

.title
	height: 500px	
	width: 100%
	background: url("img/pages/about/title.jpg") no-repeat
	border-bottom: 3px solid $yellow
	margin-top: 70px
	h1
		color: $greenwhite
		margin-top: 370px
		background-color: rgba(30, 30, 30, .70)
		padding: 20px
		border-left: 15px solid $yellow
.leadership
	border-bottom: 5px solid $darkgreen
	img		
		filter: grayscale(95%)
		transition: ease .3s
		&:hover
			filter: grayscale(0%)
	span
		display: none		
		position: absolute
		bottom: 0
		left: 0
		text-align: center
		background-color: rgba(25, 52, 65, .75)
		color: #fff
		padding: 20px 5px
		width: 100%		
		a
			color: $yellow			
			text-transform: uppercase
		
.vam
	vertical-align: middle
footer
	background-color: $darkblue
	color: $greenwhite
	.ftable
		height: 70px		
	.footer-logo		
		height: 70px
		width: 70px
		display: inline-block
		vertical-align: middle
		position: relative
		img			
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto
			border-right: 1px solid $blue
			padding: 0 15px
	span
		padding-left: 30px		
		font-family: "OpenSansLight", sans-serif
		text-transform: uppercase
	.footer-social
		font-size: em(26px)
		line-height: 70px
		text-align: right
		i
			margin-right: 10px
		a
			color: $blue
			transition: all .25s ease
			&:hover
				color: $greenwhite

//Magnific Popup customize
.mfp-ready .mfp-figure
	opacity: 0
.mfp-zoom-in
	.mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler
		opacity: 0
		transition: all 0.3s ease-out
		transform: scale(0.95)
	&.mfp-bg, .mfp-preloader
		opacity: 0
		transition: all 0.3s ease-out
	&.mfp-image-loaded .mfp-figure
		opacity: 1
		transform: scale(1)
	&.mfp-ready
		.mfp-iframe-holder .mfp-iframe-scaler
			opacity: 1
			transform: scale(1)
		&.mfp-bg, .mfp-preloader
			opacity: 0.8
	&.mfp-removing
		.mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler
			transform: scale(0.95)
			opacity: 0
		&.mfp-bg, .mfp-preloader
			opacity: 0

.mfp-iframe-scaler
	overflow: visible
.mfp-zoom-out-cur
	cursor: auto
	.mfp-image-holder .mfp-close
		cursor: pointer
.mfp-preloader
	width: 30px!important
	height: 30px!important
	background-color: $blue
	opacity: 0.65
	margin: 0 auto
	animation: rotateplane 1.2s infinite ease-in-out
@-webkit-keyframes rotateplane
	0%
		-webkit-transform: perspective(120px)
	50%
		-webkit-transform: perspective(120px) rotateY(180deg)
	100%
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
@keyframes rotateplane
	0%
		transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	50%
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	100%
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)

//ALWAYS END
@import media

//Load Libs SASS
@import app/libs/animate/animate.sass
@import app/libs/font-awesome/css/font-awesome.sass
@import app/libs/MagnificPopup/magnific-popup.sass
